.mainPageDiv {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(12, 1fr);
  min-height: 100vh;
  background:blue;
  
}

.clientPwa{
  grid-area: 1/9/2/18;
  color: #db3b3b;
}